
%body{}
 = form_for :tweet, url: twitterpracs_path do |f|
  %div{:class => "label label-default"}
   = f.label :handle
  %br
  = f.text_field :handle
  %br
  %div{:class => "label label-default" }
   = f.label :tweet
  %br
  = f.text_area :tweet
  %br
  %div{:class => "btn btn-defaut" }
   = f.submit 

