.rule
  %aside#page-sidebar
    .sidebar-tabs-con
      .tab-content
        #side-tab-menu.tab-pane.active
          %nav#primary-nav
            %ul
              %li
                %h3.text-center Relevant Words
                %li
                  - @sea.results.facets['word']["terms"].each do |f|
                    - type = f['term']  
                    %br
                    %tr
                      %td
                        .col-md-12
                          %div   
                            %a{href: '?term=' + type}
                            %code
                              = f['term']
                              %code{ :id => type, :onclick => "rohit(id); return false"  }
                                X 
                                %td                                      
                                  = f['count']

  #page-content		
    .block-content
      = form_for :tweet, url: '/' do |f|
        %br
        .col-sm-3
        .col-sm-6.text-center
          %input#search-term.form-control{:name => "input", :placeholder => "Type here to know...", :type => :text}				   
        %button.btn.btn-default{:type =>"submit"} FETCH!
      %br
      .block.block-themed.block-last
        .block-title.clearfix
          .block-options
            %a.btn.btn-option{"data-toggle" => "tooltip", :href => "javascript:void(0)", :title => "Search Options"}
              %i.icon-cog
            .btn-group
              %a.btn.btn-option.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:void(0)"}
                Sort By 
                %i.icon-angle-down
              %ul.dropdown-menu.pull-right
                %li.active
                  %a{:href => "javascript:void(0)"} Relevance
                %li
                  %a{:href => "javascript:void(0)"} Proficiency
          %h4 Search Results
        .block-content#user_profile
          .row.row-items
            - @sea.results.each do |f|	
              .col-md-6
                .media.media-hover
                  %a.pull-left{href: "javascript:void(0)"}
                    - link = f['profile_image_url']
                    %img.media-object.img-circle{alt: "Image", src: link}
                  .media-body
                    %h4.media-heading
                      =f["name"]
                      %small
                        =f["handle"]
                    %b
                      =f['friends']
                    %a.badge.badge-success{"data-toggle" => "tooltip", :href => "page_user_profile.html", :title => "Profile"}  
                      Following
                      %i.icon-user
                    %b
                      = f['followers']
                      %a.badge.badge-info{:href => "javascript:void(0)"}
                        Followers
                    %p 
                      = f["description"]
                    %p
                    %b  
                      = f["tweet"]
